NodeRedFlow.json
[{"id":"d0cc2aa.7b38dd8","type":"tab","label":"Watson Assisstant","disabled":false,"info":""},{"id":"d28fbde2.01349","type":"watson-conversation-v1","z":"d0cc2aa.7b38dd8","name":"Assisstant","workspaceid":"2c6dcb63-e75e-40f0-a70a-d778734e20ae","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/0ebe7676-99e6-4746-8865-e402a345b249","timeout":"","optout-learning":false,"x":375,"y":180,"wires":[["5a1ddeaa.c8b31","c82dfe80.746c8"]],"l":false},{"id":"1fd2b4f0.ae9c3b","type":"function","z":"d0cc2aa.7b38dd8","name":"F1","func":"msg.payload = msg.payload.text; \nreturn msg;","outputs":1,"noerr":0,"x":255,"y":260,"wires":[["d28fbde2.01349","68a89e45.6e17a"]],"l":false},{"id":"10de05bb.f5f62a","type":"ui_form","z":"d0cc2aa.7b38dd8","name":"","label":"form","group":"98dc448a.a0d2c8","order":1,"width":0,"height":0,"options":[{"label":"Enter the input","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":95,"y":280,"wires":[["1fd2b4f0.ae9c3b"]],"l":false},{"id":"5a1ddeaa.c8b31","type":"function","z":"d0cc2aa.7b38dd8","name":"F2","func":"if(msg.payload.output.error){\n msg.payload = \"please rephrase\";\n return msg;\n}\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":515,"y":240,"wires":[["e09b69a4.7bc4a8"]],"l":false},{"id":"68a89e45.6e17a","type":"ui_text","z":"d0cc2aa.7b38dd8","group":"98dc448a.a0d2c8","order":3,"width":0,"height":0,"name":"","label":"You","format":"{{msg.payload}}","layout":"row-spread","x":395,"y":360,"wires":[],"l":false},{"id":"e09b69a4.7bc4a8","type":"ui_text","z":"d0cc2aa.7b38dd8","group":"98dc448a.a0d2c8","order":6,"width":0,"height":0,"name":"","label":"bot","format":"{{msg.payload}}","layout":"col-center","x":670,"y":360,"wires":[]},{"id":"c82dfe80.746c8","type":"debug","z":"d0cc2aa.7b38dd8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":540,"y":80,"wires":[]},{"id":"98dc448a.a0d2c8","type":"ui_group","z":"","name":"CHATBOT","tab":"baba0a5f.1ad358","order":1,"disp":true,"width":13,"collapse":false},{"id":"baba0a5f.1ad358","type":"ui_tab","z":"","name":"CUSTOMERCARE","icon":"","disabled":false,"hidden":false}]